version: '3.1'
services:
  <sitename>_odoo_web:
    container_name: <sitename>_odoo_web
    image: odoo:19.0
    depends_on:
      - <sitename>_odoo_db
    ports:
      - "<output_port>:8069"
    volumes:
      - ./<sitename>-odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    environment:
      - PASSWORD_FILE=/run/secrets/postgresql_password
    secrets:
      - postgresql_password
  <sitename>_odoo_db:
    container_name: <sitename>_odoo_db
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password
    networks:
      default:
        aliases:
            - db
volumes:
  odoo-web-data:
  odoo-db-data:

secrets:
  postgresql_password:
    file: odoo_pg_pass